*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.login-page{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center; 
    background-color:#1a1a1a;
     /* background: linear-gradient(135deg,#0f2027,#203a43,#2c5364) !important; */
     /* background:linear-gradient(135deg,#000000,#1a1a1a); */
}
.login-box{
   
    position: relative;
    width:400px;
    height:400px;
    background:#1E1E1E;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
    color: #ffffff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login-title{
    text-align: center;
    font-size: 32px;
    color: #fff;
}
.input-box{
    position: relative;
    width:310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -2px;;
}
.input-box input{
    width:100%;
    padding: 10px;
    height:50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding:0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color:#fff;
    font-size: 19px;
    line-height: 57px;
    
}
.login-button{
    width:100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #191919;
    font-weight: 500;

}